<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/css/header_footer.css">
</head>
<body>
    <%- include('partials/header') %>
        <h1>Page d'Administration</h1>
        <p>Gestion des utilisateurs et des contenus.</p>
        <!-- Contenus administratifs -->

    <%- include('partials/footer') %>
</body>
</html>
