<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur</title>
    <link rel="stylesheet" href="/assets/css/error.css">
    <link rel="stylesheet" href="/assets/css/header_footer.css">
</head>
<body>
    <%- include('partials/header') %>
        <h1>Erreur</h1>
        <p>Quelque chose s'est mal passé. Veuillez réessayer plus tard.</p>
    <%- include('partials/footer') %>
</body>
</html>
