<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/header_footer.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Bienvenue sur le Forum GTA</h1>
        <p>Découvrez des astuces, des codes, et discutez avec la communauté.</p>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
