<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/assets/css/profile.css">
    <link rel="stylesheet" href="/assets/css/header_footer.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Mon Profil</h1>
        <p>Nom d'utilisateur: <%= user.username %></p>
        <p>Email: <%= user.email %></p>
        <!-- Autres informations du profil -->
    </main>
    <%- include('partials/footer') %>
</body>
</html>
