/* profile.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.profile-info {
    text-align: center;
    margin: 20px 0;
}

.profile-info h1 {
    color: #ffffff;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000000;
}

.avatar {
    margin: 20px 0;
}

.avatar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #6200ea;
    box-shadow: 0 0 10px #000000;
}

.user-details {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    box-shadow: 0 0 10px #000000;
}

.user-details p {
    margin: 10px 0;
    font-size: 14px;
}

.user-details p strong {
    color: #ffffff;
}

.avatar-selection {
    text-align: center;
    margin: 40px 0;
}

.avatar-selection h3 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
}

.avatar-options {
    display: flex;
    justify-content: center;
}

.avatar-options div {
    margin: 0 10px;
}

.avatar-options img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.avatar-options img:hover {
    transform: scale(1.1);
}

.avatar-options input[type="radio"] {
    display: none;
}

.avatar-options input[type="radio"]:checked + label img {
    border: 2px solid #6200ea;
    box-shadow: 0 0 10px #000000;
}

.avatar-selection button {
    background-color: #6200ea;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.avatar-selection button:hover {
    background-color: #3700b3;
}

.start-discussion {
    text-align: center;
    margin: 20px 0;
}

.start-discussion button {
    background-color: #6200ea;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    transition: background-color 0.3s ease;
}

.start-discussion button:hover {
    background-color: #3700b3;
}
