<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/profile">Profil</a></li>
            <li><a href="/favorites">Favoris</a></li>
            <li><a href="/login">Connexion</a></li>
            <li><a href="/register">Inscription</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
</header>
